@import "~bootstrap/scss/bootstrap.scss";


$headerColor: #ff8300;

$messageTextColor: #000000;
$messageBackground: #ffffff;
$messageShadow: #3CB9FF;

$textColor: #ffffff;
$buttonShadow: #ffffff;
$orange: #ff8300;
$blue: #1e5bd7;
$fontName: "Gotham";

@font-face {
  font-family: $fontName;
  src: url("./fonts/gotham_thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: $fontName;
  src: url("./fonts/gotham_light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: $fontName;
  src: url("./fonts/gotham_book.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: $fontName;
  src: url("./fonts/gotham_medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: $fontName;
  src: url("./fonts/gotham_bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: $fontName;
  src: url("./fonts/gotham_black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

body {
  font-family: $fontName, Arial, sans-serif;
  color: $messageTextColor;
  background: url("./img/bg.png") top right/50% repeat-y , linear-gradient(#1e5bd7, #00afff) fixed
}

h1 {
  color: $headerColor;
}

.panda {
  display: block;
  position: absolute;
  top: 22px;
  left: 15px;
  width: 350px;
  height: 500px;
  background: url("./img/red-panda.png") top left/75% no-repeat;
}

.question {
  color: $textColor;
}

.message {
  @include border-radius($radius: $border-radius, $fallback-border-radius: false);
  background-color: $messageBackground;
  box-shadow: 3px 3px 0.5px $messageShadow;
}

.photo-border {
  @include border-radius($radius: $border-radius, $fallback-border-radius: false);
  background-color: $messageBackground;
  box-shadow: 3px 3px 0.5px $messageShadow;
}

.border-primary {
  border-color: $orange !important;
}

.btn-primary {
  @include button-variant($orange, darken($orange, 7.5%), darken($orange, 10%), lighten($orange, 5%), lighten($orange, 10%), darken($orange, 30%));
  color: $textColor;
  box-shadow: 3px 3px 0.5px $buttonShadow;
}

.btn-outline-primary {
  @include button-outline-variant($orange, #222222, lighten($orange, 5%), $orange);
}

.btn-primary:hover {
  color: $textColor;
  box-shadow: none;
}



/*
.orange {
  color: #fd680e;
}

.table-bordered {
  font-size: 0.8em;
}

.desktop {
  display: table-row;
}

.desktop-cell {
  display: table-cell;
}


.mobile {
  display: none;
}

@media (-webkit-min-device-pixel-ratio: 2) {
  html, body {
    font-size: 13pt;
  }

  .desktop {
    display: none;
  }

  .desktop-cell {
    display: none;
  }

  .mobile {
    display: table-row;
  }
}*/
